* {
    font-family: Helvetica, sans-serif;
}

body {
    max-width: 800px;
    min-width: 520px;
    margin: 0 auto;
}

h1 {
    background-image: url("../img/pattern.jpeg");
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.brushes h2 {
    background-color: mediumspringgreen;
}

.frames h2 {
    background-color: lightcoral;
}

.paint h2 {
    background-color: skyblue;
}

.prices {
    font-weight: bold;
    color: blue;
}